#home.about {
  /* background-color: white; */

  width: 100%;
  margin-bottom: 20px;
  /* border-radius: 10px; */
  padding: 4% 8%;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 95vh;
  box-sizing: border-box;
  flex-direction: row-reverse;

  .content {
    position: relative;
    width: 100%;
    height: 50px;
  }

  .content p {
    color: #fff;
    font-size: 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    letter-spacing: 3px;
    width: 100%;
  }

  .content p:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 4px #2e2e2e;
  }

  .content p:nth-child(2) {
    color: #ffffff;
    animation: animate 2s ease-in-out infinite;
  }

  @keyframes animate {
    0%,
    100% {
      clip-path: polygon(
        0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
      );
    }

    50% {
      clip-path: polygon(
        0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
      );
    }
  }
  .fog {
    position: absolute;
    height: 100vh;
    width: 100%;
    /* background-color: tomato; */
    left: 0;
    top: 0;
    z-index: -1;
  }
  .fog img {
    height: 100%;
    width: 100%;
  }
  .image {
    /* height: max-content; */
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */

    padding: 10px;
    /* border-radius: 50%; */
    /* background: linear-gradient(-45deg,  #ee7752,rgb(255, 255, 200), #23a6d5, #23d5ab); */
    /* background: linear-gradient(-45deg, #f7f4f3, #aeaeae, #4f4f4f, #2f2f2f); */
    box-sizing: border-box;
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
  }
  .image img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    /* filter: grayscale(); */
    object-fit: cover;
  }
  .white {
    height: 400px;
    width: 320px;
    border-radius: 50%;
    /* background-color: white; */
    /* border: 3px solid white ; */
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }

  @keyframes change {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }

  .info {
    width: 50%;
    /* border: 2px solid red; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    p{
      padding: 20px 0;
      font-size: 25px;
    }
  }

  .info button {
    padding: 15px;
    width: 250px;
    font-size: 20px;
    background-image: linear-gradient(-45deg, blue, skyblue);
    background-size: 200%;
    font-weight: bold;
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin: 20px;
    color: white;
    cursor: pointer;
  }
  .info button a {
    color: white;
  }

  .about p {
    margin: 20px 0;
    font-size: 40px;
    font-weight: bold;
  }
  .about h1 {
    color: rgb(56, 56, 56);
    font-size: 30px;
  }
}

@media only screen and (max-width: 600px) {
  #home.about {
    padding: 20px;
    flex-direction: column-reverse;
    justify-content: center;
    .image {
      width: 100%;
    }
    .white {
      height: 400px;
      width: 280px;
      /* background-color: white; */
      /* border: 3px solid white ; */
    }
    .info p {
      font-size: 25px;
    }

    .info {
      width: 100%;
    }
    .fog {
      display: none;
    }
    .content p {
      font-size: 21px !important;
    }
  }
}
@media only screen and (max-width: 900px) {
  #home.about {
    padding: 0;
    justify-content: center;
    .content p {
      font-size: 25px;
    }
  }
}
