@import "variable";
#kaamkharaab.projects-set {
  /* height: 400px; */

  padding: 40px 50px;
  box-sizing: border-box;
  // display: flex;
  margin: 20px auto;
  width: 90%;
  background-image: linear-gradient(-45deg, blue, skyblue);
  background-image: linear-gradient(
    to right,
    rgba(26, 114, 247, 0.8) 0%,
    rgba(26, 114, 247, 0.9) 51%,
    rgba(26, 114, 247, 0.6) 100%
  );
  display: grid;
  grid-template-columns: 64% 34%;
  justify-content: space-between;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  @keyframes example {
    0% {
      background-color: red;
    }
    25% {
      background-color: yellow;
    }
    50% {
      background-color: rgb(0, 255, 187);
    }
    75% {
      background-color: green;
    }
    100% {
      background-color: red;
    }
  }
  .sliderabc {
    height: 100%;
  }
  .pro-img {
    width: 100%;
  }
  .pro-img img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    padding: 0px 10px;
    box-sizing: border-box;
  }

  .tech-used .fab {
    font-size: 40px;
    color: white;
    margin: 0px 10px;
  }
  .pro-info {
    width: 100%;
    padding: 30px 50px;
    box-sizing: border-box;
    // background-image: $BG1;
    background-size: 200%;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.1);
  }

  .pro-info p {
    color: white;
  }
  .pro-info p:nth-child(1) {
    font-size: 30px;
    background: rgba(0, 0, 0, 0.1);
    text-align: center;
    font-weight: 600;
    padding: 15px;
  }
  .pro-info p:nth-child(2) {
    margin: 20px 0;
    background: rgba(255, 255, 255, 0.1);
    padding: 15px;
    /* color: black; */
    border-radius: 4px;
  }
  .pro-info p:nth-child(3) {
    text-align: center;
    font-weight: bold;
  }
  .pro-info img {
    margin: 10px;
    box-shadow: 1px 1px 4px rgba(16, 12, 135, 0.6);
    padding: 10px;
  }
  .tech-used {
    // display: flex;
    // justify-content: center;
    margin: 20px 0;
    @include flex-box();
  }
  .pro-btn {
    display: flex;
    justify-content: center;
  }
  .pro-btn button {
    padding: 10px 20px;
    font-size: 20px;
    background-image: linear-gradient(
      to right,
      rgba(26, 114, 247, 0.8) 0%,
      rgba(26, 114, 247, 0.9) 51%,
      rgba(26, 114, 247, 0.6) 100%
    );
    background-size: 200%;
    font-weight: bold;
    border: none;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    color: white;
    margin: 0 10px;
    transition: 0.5s;
    display: block;
    border-radius: 4px;
  }
  .pro-btn button:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }
}

@media only screen and (max-width: 900px) {
  #kaamkharaab.projects-set {
    grid-template-columns: 100%;
    width: 100%;
    padding: 40px 0px;
    padding-bottom: 0;

    .pro-img {
      width: 100%;
    }
    .pro-info {
      width: 100%;
    }
  }
}
@media only screen and (max-width: 600px) {
  #kaamkharaab.projects-set {
    grid-template-columns: 100%;
    width: 100%;
    padding: 40px 0px;
    padding-bottom: 0;

    .pro-img {
      width: 100%;
    }
    .pro-info {
      width: 100%;
    }
  }
}
