.projects {
  /* height: 400px; */
 
  /* padding: 50px; */
  box-sizing: border-box;
  display: flex;
  margin: 20px auto;
  width: 90%;
  gap: 10px;
}

.pro-img {
  width: 50%;
}
.pro-img img {
  width: 100%;
  height: 100%;
  border-radius: 8px;

}

.tech-used .fab{
  font-size: 40px;
}
.pro-info {
  width: 50%;
  padding: 30px 50px;
  box-sizing: border-box;
  background-image: linear-gradient(-45deg, blue, skyblue);
  background-size: 200%;
  border-radius: 8px;
}

.pro-info p {
  color: white;
}
.pro-info p:nth-child(1) {
  font-size: 30px;
}
.pro-info p:nth-child(2) {
  margin: 20px 0;
}
.pro-info p:nth-child(3) {
  text-align: center;
  font-weight: bold;
}
.pro-info img {
  margin: 10px;
  box-shadow: 1px 1px 4px rgba(16, 12, 135, 0.6);
  padding: 10px;
}
.tech-used {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.pro-btn {
  display: flex;
  justify-content: center;
}
.pro-btn button {
  padding: 15px;
  font-size: 20px;
  background-image: linear-gradient(-45deg, blue, rgb(75, 88, 221));
  background-size: 200%;
  font-weight: bold;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  color: white;
  margin: 0 10px;
}
         





@media only screen and (max-width: 900px) {
  .projects {
    flex-direction: column;
  }
  .pro-img {
    width: 100%;
  }
  .pro-info {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .projects {
    flex-direction: column;
  }
  .pro-img {
    width: 100%;
  }
  .pro-info {
    width: 100%;
  }
}
