.skill-comp{
    /* border: 2px solid black; */
    width: 140px;
    height: 140px;
  padding: 30px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 6px;
  background-image: linear-gradient(-45deg,rgb(255, 255, 255), rgb(245, 245, 245));
  background-image: linear-gradient(-45deg,  blue,skyblue);

  background-size: 200%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.skill-comp p{
    font-size: 16px;
    color: white;
}