.skills {
  padding: 40px;
  margin: 30px;
  /* background-image: linear-gradient(-45deg,rgb(15, 179, 40), rgb(135, 235, 217)); */
  background-size: 200%;
  scroll-margin-top: 60px;
}

.skills p {
  font-size: 30px;
  /* color: white; */
  text-align: center;
  font-weight: bold;
}

.tools {
  width: 500px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px auto;
}

.tools .fab {
  font-size: 40px;
}

@media only screen and (max-width: 600px) {
  .skills {
    margin: 20px;
    padding: 40px 0;
  }
  .tools {
    gap: 15px;
    width: 300px;
  }
}

@media only screen and (max-width: 300px) {
  .tools {
    width: 200px;
  }
  .details img {
    width: 100px;
  }
  .info p {
    font-size: 24px;
  }
}
