
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none
}

// .gitcont{
//   width: 60%;
//   margin: auto;
// }

html{
  scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway&display=swap');


.empty{
  height: 60px;
  width: 100%;
  background-color: violet;
}



button{
  cursor: pointer;
}